body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
/* Profile Start */
#slack {
    display: none;
}

.profile {
    text-align: center;
    margin: 60px 0;
}

.profile > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 10px 0;
    font-size : 25px;
}

#profile_img {
    border-radius: 50%;
}
/* Profile End */

/* Links Start */
.links {
    margin: 0px 15%;
    text-align: center;
}

.links > a {
    display: block;
    background-color: #EAECF0;
    margin: 2%;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
}

.subtext {
    display: block;
    padding-top: 10px;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.links > a:hover {
    background-color: #dfe0e4;
    color: black;
}
/* Links End */

/* Footer Start */
footer {
    margin: 0 15%;
    text-align: center;
}

.top-row > a {
    margin: 0 8px;
    font-size: 40px;
    padding: 10px 5px;
    padding-bottom: 0px;
}

.top-row > a:hover {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.bot-row > #i4g {
    float: right;
    display: inline;
}

.bot-row > #zuri {
    float: left;
    display: inline;
}

.bot-row > .HNG {
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9d9d9;
    line-height: 1px;
}
/* Footer End */

/* Contact Form Start */
.contact-form {
    max-width: 700px;
    margin: 20px auto 50px auto;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 12px;
}

.contact-form > h3{
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    font-size: x-large;
}

.contact-form > h4 {
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
}

.form--name,.form--email,.form--message, .contact-form > label {
    font-family: 'Segoe UI';
    font-weight: 700;
}

input, textarea {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}

@media screen and (min-width: 650px) {
    /* .form--name {
        display: inline;
    } */

    .form--name > .first_name, .last_name {
        width: 48%;
        margin-right: 2%;
        display: inline-block;
    }

    .form--name > input:last-child {
        margin-right: 0;
    }
}


textarea {
    height: 125px;
}

.form--btn {
    text-align: center;
}

#btn__submit {
    width: 100%;
    background-color: rgb(56, 56, 250);
    color: white;
    height: 60px;
    line-height: 47px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
    border: none;
}

#btn__submit:hover {
    background-color: rgb(19, 19, 247);
}
/* Contact Form End */